# Downloading Data

In [8]:
# We only need 2 imports for this notebook.
import pandas as pd
import os

Download data from this website after creating an account
https://www.lendingclub.com/info/statistics.action

We have done this and stored the files in a directory titled Data/Downloaded_Files
Below, we are consolidating loan statistics files from 2019 into a single dataframe creating this into a csv file for our main notebook.

In [9]:
# creating a list for files in the Data folder
data_file_list = os.listdir('../Data/Downloaded_Files')

# creating a list of file names for each dataframe
df_name_list = []

# creating a dictionary to store all dataframes
dict_of_dfs = {}
for file in data_file_list:
    
    # these names will be used for each dataframe
    name = file[19:27]
    
    # adding name to list
    df_name_list.append(name)
    
    # creating local variable for full file name
    full_file_name = '../Data/Downloaded_Files/'+file
    
    # adding a dataframe for each file into the dictionary of dataframes
    dict_of_dfs[name] = pd.read_csv(full_file_name, header = 1)

# combining the list of dataframes into 1 df
df = pd.concat(dict_of_dfs)

C:\Users\16463\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\16463\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\16463\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (129,130,131,134,135,136,139,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\16463\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,129,130,131,134,135,136,139,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\16463\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# There are over half a million observations
df.shape

(518002, 150)

In [11]:
# observing the first 5 rows
df.head()

                   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
2019Q1_1 0  149328059        NaN    13500.0      13500.0          13500.0
         1  149420408        NaN    20000.0      20000.0          20000.0
         2  149453166        NaN     1600.0       1600.0           1575.0
         3  149491641        NaN     6400.0       6400.0           6400.0
         4  149513578        NaN    25000.0      25000.0          25000.0

                  term int_rate  installment grade sub_grade  ...  \
2019Q1_1 0   36 months    7.56%       420.31     A        A3  ...
         1   36 months   17.97%       722.75     D        D1  ...
         2   36 months   11.02%        52.40     B        B2  ...
         3   36 months   13.90%       218.43     C        C1  ...
         4   36 months    8.19%       785.61     A        A4  ...

           orig_projected_additional_accrued_interest  \
2019Q1_1 0                                        NaN
         1                                        NaN
         2                                        NaN
         3                                        NaN
         4                                        NaN

           hardship_payoff_balance_amount hardship_last_payment_amount  \
2019Q1_1 0                            NaN                          NaN
         1                            NaN                          NaN
         2                            NaN                          NaN
         3                            NaN                          NaN
         4                            NaN                          NaN

            debt_settlement_flag debt_settlement_flag_date settlement_status  \
2019Q1_1 0                     N                       NaN               NaN
         1                     N                       NaN               NaN
         2                     N                       NaN               NaN
         3                     N                       NaN               NaN
         4                     N                       NaN               NaN

           settlement_date settlement_amount settlement_percentage  \
2019Q1_1 0             NaN               NaN                   NaN
         1             NaN               NaN                   NaN
         2             NaN               NaN                   NaN
         3             NaN               NaN                   NaN
         4             NaN               NaN                   NaN

            settlement_term
2019Q1_1 0              NaN
         1              NaN
         2              NaN
         3              NaN
         4              NaN

[5 rows x 150 columns]

In [12]:
# viewing values in loan_status
# most of these are current loans, which we will strip out, since we do not know the target variable.
df['loan_status'].value_counts(normalize = True)

Current               0.892233
Fully Paid            0.074658
Late (31-120 days)    0.011794
Charged Off           0.010606
In Grace Period       0.007778
Late (16-30 days)     0.002921
Default               0.000010
Name: loan_status, dtype: float64

In [13]:
# Taking a subset of our loan data, only the completed loans (Fully Paid, Charged Off, Default) 
# this will reduce our number of observations to 44,000, but we think this is enough. 
df = df[df.loan_status.isin(['Charged Off', 'Default', 'Fully Paid'])]
df.shape

(44171, 150)

In [14]:
# creating CSV file for dataframe for EDA in our master notebook.
df.to_csv('../Data/FullLoanStats.csv')